.navbar{ background:#1a8cff;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

.navbar-collapse {
    justify-content: flex-end;
}
main {
    padding-top: 65px;
}
@media (max-width: 979px) {
    main {
        padding-top: 0px;
    }
}