body{
    background-color: #4CAF50;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #bbbbbb;
    overflow-x: hidden;
    padding-top: 20px;
}
.titlebox{
    position: absolute;
    top: 4%;
    left: 50px;
    right: 300px;
    border:1px solid #ccc;
    bottom: 4%;
}

.logo{
    position: relative;
    left: 47%;
}
.title{
    position: relative;
    left: 33%;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}
.overbox{
    position: relative;
    top:5%;
    height:50%;
    left:2.5%;
    width: 95%;
    background-color: rgba(0,0,0,0.2);

}