<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" th:rel="stylesheet" th:id="bootstrap-css">
    <script th:src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script th:src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:type="text/javascript" th:src='windowfit.js'></script>
    <link th:rel="stylesheet" th:type="text/css" th:href="indexStyle.css">
</head>


<body>

<header class="header">
    <div class="overlay"></div>
    <div class="titlebox">
        <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/epic-learning.appspot.com/o/Epic.png?alt=media&token=31626cb0-43aa-4587-bd7b-31543191204f" width="200px" height="200px">
        <h2 class="title">EPiC Learning Environment</h2>
    </div>
    <div class="sidebar">
        <h2>Getting Started</h2>

        <a href="login.html">Log In</a>
        <br>
        <a href="CreateAccount.html">Sign Up</a>
    </div>
<h1> WIP DONT JUDGE THIS AWFUL DESIGN YET</h1>

</header>


</body>
</html>