<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignment Specifications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='windowfit.js'></script>
    <link rel="stylesheet" type="text/css" href="StudentStyle.css">
</head>

<header id="header">
    <nav class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">EPiC Learning for Students</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="nav navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link " data-value="Home" href="#">Assignments</a>       </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="Assignments" href="#">Assignment Submission </a>        </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="View Progress"href="#">Learning Progress</a>          </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="Check Contents" href="#">Lecture Contents</a>         </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="Contact Lecturer" href="#">Contact Lecturer</a>         </li>
            </ul>
        </div>
    </nav>
</header>
<body id="body">
<main class="main">
    <div class="container">
        <h4 class="container">Assignment Specifications</h4><br>
        <div class="container row">
            <form class="container" action="#">
                <div class="form-row">
                    <select th:action="@{/getModules}" class="custom-select col-md-3 mr-3" name="courseSelect" id="courseSelect">
                        <option th:each="modules : ${session.moduleList}" th:value="${modules.getId()}" th:text="${modules.getId() + ' - ' + modules.getTitle()}" selected value="defaultCourse">&nbsp;&nbsp;Select Course</option>
                        <!---Pedro when doing thymeleaf please add &nbsp;&nbsp; for correct spacing for items thanks! --->
                        <option name="courseSelect" id="getCourse">&nbsp;&nbsp;Course X</option>
                        <option name="courseSelect" id="getCourseTest">&nbsp;&nbsp;Course Test</option>
                    </select>
                    <select class="custom-select col-md-3 mr-3" name="assignmentSelect" id="assignmentSelect" disabled>
                        <option selected value="defaultAssignment">&nbsp;&nbsp;Select Assignment</option>
                        <option name="assignmentSelect" id="getAssignment">&nbsp;&nbsp;Assignment X</option>
                        <option name="assignmentSelect" id="getAssignmentTest">&nbsp;&nbsp;Assignment Test</option>
                    </select>
                </div>
            </form>
        </div>
        <div id="assignmentContent" class="container" style="opacity: 0;">
            <hr>
            <h5 class="d-inline" id="courseTitle">Course X</h5><h5 class="d-inline">&nbsp;-&nbsp;</h5><h5 class="d-inline" id="asmTitle">Assignment X</h5>
            <br><br>
            <div id="asmDescription">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent blandit et nisi in pellentesque. Vivamus congue lobortis dapibus. Suspendisse auctor porttitor metus ut ultrices. Nulla facilisi. Nunc scelerisque nisi vitae viverra dignissim. Nunc at mi eleifend, vulputate orci quis, dapibus ante. Sed vel pellentesque orci, quis porta orci. Nam tempus, libero nec consequat accumsan, lectus velit suscipit libero, vitae molestie est mauris in purus.</p>
            </div>
            <hr/>
            <div id="asmDueDateText">
                <h6 class="d-inline">Due Date:&nbsp;</h6> <h6 class="d-inline" id="asmDueDate"></h6>
            </div>
        </div>
    </div>
</main>
</body>

<script>

    const selCourse = document.getElementById('courseSelect');
    const selAssignment = document.getElementById('assignmentSelect');
    const contAssignment = document.getElementById('assignmentContent');
    let selCourseCount = 0;
    let selAssignmentCount = 0;


    // Assignment Dropdown Animation
    selCourse.addEventListener("change", function() {
        selCourseCount++;
        if (selCourse.value === 'defaultCourse'){
            if (selAssignmentCount >= 1){
                selAssignmentCount = 0;
                contAssignment.classList.add('slide-down')
                contAssignment.style.opacity = 0;
                setTimeout(function(){ contAssignment.classList.remove('slide-down'); }, 200);
            }
            selAssignment.selectedIndex = 0;
            selAssignment.disabled = true;
            selCourseCount = 0;
        } else {
            if (selCourseCount > 1) {
                selAssignment.selectedIndex = 0;
                if (selAssignmentCount >= 1) {
                    selAssignmentCount = 0;
                    contAssignment.classList.add('slide-down')
                    contAssignment.style.opacity = 0;
                    setTimeout(function(){ contAssignment.classList.remove('slide-down'); }, 200);
                }
                return;
            }
            selAssignment.disabled = false;
        }
    });

    // Assignment Content Visiblity
    selAssignment.addEventListener("change", function() {
        selAssignmentCount++;
        if (selAssignment.value === 'defaultAssignment'){
            contAssignment.classList.add('slide-down')
            contAssignment.style.opacity = 0;
            setTimeout(function(){ contAssignment.classList.remove('slide-down'); }, 200);
            selAssignmentCount = 0;
        } else {
            let dt = new Date(); // Current date for testing, these 2 lines should be removed
            document.getElementById('asmDueDate').innerHTML = dt.toLocaleDateString('en-GB');

            if (selAssignmentCount > 1) {
                contAssignment.classList.add('content-refresh')
                setTimeout(function(){ contAssignment.classList.remove('content-refresh'); }, 600);
                return;
            }
            contAssignment.classList.add('slide-up')
            contAssignment.style.opacity = 1;
            setTimeout(function(){ contAssignment.classList.remove('slide-up'); }, 200);
        }
    });

</script>

</html>