<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignment Specifications</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='windowfit.js'></script>
    <link rel="stylesheet" type="text/css" href="StudentStyle.css">
</head>

<header id="header">
    <nav class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">EPiC Learning for Students</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="nav navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link " data-value="Home" href="#">Assignments</a>       </li>
                <li class="nav-item">
                    <a class="nav-link" data-value="Assignments" href="#">Assignment Submission </a>        </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="View Progress"href="#">Learning Progress</a>          </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="Check Contents" href="#">Lecture Contents</a>         </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="Contact Lecturer" href="#">Contact Lecturer</a>         </li>
            </ul>
        </div>
    </nav>
</header>
<body id="body">
<main class="main">
    <div class="container">
        <h4 class="container">Assignment Specifications</h4><br>
        <div class="container row">
            <form class="container" action="#">
                <div class="form-row">
                    <select th:action="@{/getModules}" class="custom-select col-md-3 mr-3" name="courseSelect" id="courseSelect">
                        <option th:each="modules : ${session.moduleList}" th:value="${modules.getId()}" th:text="${modules.getId() + ' - ' + modules.getTitle()}" selected value="defaultCourse">&nbsp;&nbsp;Select Course</option>
                        <!---Pedro when doing thymeleaf please add &nbsp;&nbsp; for correct spacing for items thanks! --->
                        <option name="courseSelect" id="getCourse">&nbsp;&nbsp;Course X</option>
                    </select>
                    <select class="custom-select col-md-3 mr-3" name="assignmentSelect" id="assignmentSelect" disabled>
                        <option selected value="defaultAssignment">&nbsp;&nbsp;Select Assignment</option>
                        <option name="assignmentSelect" id="getAssignment">&nbsp;&nbsp;Assignment X</option>
                    </select>
                    <!--- Can opt out by using js for triggering the assignment contents (ui looks more clean), but enable if submit button is required.
                    <input class="btn btn-primary col-md-1" type="Submit" id="submitButton" value="Select" disabled>
                    --->
                </div>
            </form>
        </div>
        <div id="assignmentContent" class="container" style="display:none;">
            <br><hr>
            <h5 class="d-inline" id="courseTitle">Course X</h5><h5 class="d-inline">&nbsp;-&nbsp;</h5><h5 class="d-inline" id="asmTitle">Assignment X</h5>
            <br><br>
            <div id="asmDescription">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent blandit et nisi in pellentesque. Vivamus congue lobortis dapibus. Suspendisse auctor porttitor metus ut ultrices. Nulla facilisi. Nunc scelerisque nisi vitae viverra dignissim. Nunc at mi eleifend, vulputate orci quis, dapibus ante. Sed vel pellentesque orci, quis porta orci. Nam tempus, libero nec consequat accumsan, lectus velit suscipit libero, vitae molestie est mauris in purus.</p>
            </div>
            <hr/>
            <div id="asmDueDateText">
                <h6 class="d-inline">Due Date:&nbsp;</h6> <h6 class="d-inline" id="asmDueDate"></h6>
            </div>
        </div>
    </div>
</main>
</body>

<script>

    // Assignment Dropdown Visiblity
    document.getElementById('courseSelect').addEventListener("change", function() {
        if (document.getElementById('courseSelect').value === 'defaultCourse'){
            //document.getElementById('submitButton').disabled = true;
            document.getElementById('assignmentSelect').disabled = true;
            document.getElementById('assignmentSelect').selectedIndex=0;
        } else {
            document.getElementById('assignmentSelect').disabled = false;
            document.getElementById('assignmentSelect').selectedIndex=0;
        }
    });

    // Submit Button Visiblity
    document.getElementById('assignmentSelect').addEventListener("change", function() {
        if (document.getElementById('assignmentSelect').value === 'defaultAssignment'){
            document.getElementById('assignmentContent').style.display = 'none';

            // for submit button  document.getElementById('submitButton').disabled = true;
        } else {
            // Triggers content
            document.getElementById('assignmentContent').style.display = 'block';
            // for submit button  document.getElementById('submitButton').disabled = false;

            // Current date for testing
            let dt = new Date();
            document.getElementById('asmDueDate').innerHTML = dt.toLocaleDateString('en-GB');
        }
    });

    /*** if submit button is required
    document.getElementById('submitButton').addEventListener("click", function() {
        document.getElementById('assignmentContent').style.display = 'block';
    }); ***/

</script>

</html>