.ErrorImage{
    position: absolute;
    left: 37%;
    top: 10%;
}
.MessageWrap{
    position: absolute;
    width: 50%;
    height: 20%;
    bottom: 15%;
    left: 25%;
    border:1px solid #ccc;
    text-align: center;

}

.BackButton {
    position: absolute;
    right: 37%;
    bottom: 0%;
    display: inline-flex;
    height: 40px;
    width: 200px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
