<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" type="text/css" href="ErrorStyle.css">
</head>

<body>
<img class="ErrorImage" src="error.JPG" alt="Oops, There has been an error">
<div class="MessageWrap">
    <h3 th:text="${session.error}"></h3>
    <form action="/redirect-rightDashboard">
        <input value="Return" type="submit" class="BackButton">
    </form>

</div>



</body>
</html>