<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Student Progress</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src='windowfit.js'></script>
    <link rel="stylesheet" type="text/css" href="LecturerViewProgressStyle.css">
</head>
<body>

<nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand" th:href="@{redirect-rightDashboard}">View Progress</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">     <ul class="navbar-nav mr-4">
        <li class="nav-item">
            <a class="nav-link" data-value="Set Assignments" th:href="@{redirect-setupAssessments}">Set Assignments</a>        </li>
        <li class="nav-item">
            <a class="nav-link " data-value="View Student Progress" th:href="@{redirect-lecturerViewProgress}">View Student Progress</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-value="Release Contents" th:href="@{redirect-releaseContent}">Release Contents</a>         </li>
        <li class="nav-item">
            <a class="nav-link " data-value="Contact Students" th:href="@{redirect-contactStudents}">Contact Students</a>       </li>
        <li class="nav-item">
            <a class="nav-link " data-value="Mark Assessments" th:href="@{redirect-markAssessments}">Mark Assessments</a>       </li>
        <li class="nav-item">
            <a class="nav-link " data-value="Enroll Students" th:href="@{redirect-enrollStudents}">Enroll Students</a>       </li>
        <li class="nav-item">
            <a class="nav-link" data-value="about" th:href="@{invalidate}">Logout</a>
        </li>
    </ul>
    </div>
</nav>

<header class="header">
    <div class="overlay"></div>
    <section class="sec-1">
        <div class="welcome">
            <h1>View Student Progress</h1>
        </div>
    </section>

    <section class="sec-2">
        <div class="boxwrap">

            <div class = "innerwrap">

                <div class="LeftSide">
                    <h3>Select a Student</h3>

                    <form method="POST">

                        <br><br>
                        <label style="font-size: 20px" for="ModuleSelect">Module: &nbsp;</label>
                        <select onchange="dynamicDrop()" id="ModuleSelect" class="Dropdown" th:action="@{/getModules}" required>
                            <option th:each="module : ${session.moduleList}" th:value="${module.getId()}" th:text="${module.getId() + ' - ' + module.getTitle()}"></option>
                        </select><br><br>

                        <div class="Line" style="top: 40%"></div>
                        <br><br><br>
                        <label style="font-size: 20px"  for="StudentSelect">Student: &nbsp;</label>
                        <select onchange="fillList()" id="StudentSelect" th:action="@{/getStudents}" class="Dropdown">
                            <option>Select Student</option>
                        </select>
                        <div class="Line" style="top: 60%"></div>
                        <br><br><br><br>


                    </form>
                </div>

                <script>

                    function dynamicDrop(){

                        var students = [];
                        var x = "[[${studentsInModule}]]";
                        var changed2 = x.split('\=').join('\:');
                        var changed3 = changed2.split('~').join(',');
                        var changed4 = changed3.split('#').join('\"');
                        var changed5 = JSON.parse(changed4);
                        for (var value in changed5) {
                            if (value === document.getElementById("ModuleSelect").value) {
                                for(var value1 in changed5[value]){
                                    students.push(changed5[value][value1]);
                                }
                            }
                        }
                        var select = document.getElementById("StudentSelect");
                        while (select.firstChild) {
                            select.removeChild(select.lastChild);
                        }
                        for(var i = 0; i < students.length; i++) {
                            var opt = students[i];
                            var el = document.createElement("option");
                            el.textContent = opt;
                            el.value = opt;

                            select.appendChild(el);
                        }
                    }


                    function fillList(){
                        var dueDate;
                        var submitted;
                        var submissionDate;
                        var mark;
                        var feedback;
                        var selectedCourse=document.getElementById("ModuleSelect").value;
                        var selectedStudent=document.getElementById("StudentSelect").value;
                        var assessment = [];
                        var y = "[[${studentAssessments}]]";
                        document.getElementById("customtable").innerHTML =
                            '<li class="table-header customtable">'+
                                '<div class="col col-1">Student</div>'+
                                '<div class="col col-2">Assessment Title</div>'+
                                '<div class="col col-3">Date Handed</div>'+
                                '<div class="col col-4">Grade/Mark</div>'+
                            '</li>';

                        var changed2 = y.split('\=').join('\:');
                        var changed3 = changed2.split('~').join(',');
                        var changed4 = changed3.split('#').join('\"');
                        var changed5 = JSON.parse(changed4);
                        var assignmentText;
                        for (var value in changed5) {
                            if (value === selectedCourse + " ^ " + selectedStudent) {
                                for(var value1 in changed5[value]){
                                    for (var value2 in changed5[value][value1]){
                                        //add to javascript variables for assignment text here
                                        if(changed5[value][value1][value2]["due"]==undefined){
                                            changed5[value][value1][value2]["due"]=""
                                        }
                                        if(changed5[value][value1][value2]["mark"]==undefined){
                                            changed5[value][value1][value2]["mark"]=""
                                        }
                                        document.getElementById("customtable").innerHTML +=
                                            '<li class="table-row customtable">' +
                                            '<div class="col col-1" data-label="Student">' + selectedStudent + '</div>' +
                                            '<div class="col col-2" data-label="AssessmentTitle">' + value2 + '</div>' +
                                            '<div class="col col-3" data-label="Date">' + changed5[value][value1][value2]["due"] + '</div>' +
                                            '<div class="col col-4" data-label="Grade">' + changed5[value][value1][value2]["mark"] + '</div>' +
                                            '</li>';
                                    }

                                }
                            }
                        }


                    }
                </script>

                <div class="RightSide">
                    <ul id="customtable" class="customtable">
                        <li class="table-header customtable">
                            <div class="col col-1">Student</div>
                            <div class="col col-2">Assessment Title</div>
                            <div class="col col-3">Date Handed</div>
                            <div class="col col-4">Grade/Mark</div>
                        </li>
                    </ul>



                </div>


            </div>
        </div>

    </section>

</header>


</body>
</html>