<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mark Assessments</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src='windowfit.js'></script>
    <link rel="stylesheet" type="text/css" href="LecturerMarkAssessmentStyle.css">
    <script>
        function checkUserRole(){
            var userRole = document.getElementById("userAuth").textContent;
            if (userRole !== "Lecturer" ){
                document.errorRedirect.submit();
                return;
            }
            checkLookupComplete();
        }
    </script>
</head>
<body id="body" onload="checkUserRole();">
<span th:text="${session.userrole}" id="userAuth" style="display: none;"></span>
<form action="/redirect-errorPage" id="errorRedirect" name="errorRedirect">
    <input type="hidden">
</form>
<form id="StudLookupForm" method="POST">
    <nav class="navbar navbar-expand-lg fixed-top ">
        <a class="navbar-brand" th:href="@{redirect-rightDashboard}">Lecturer Assessment Marking</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">     <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="nav-link" data-value="Set Assignments" th:href="@{redirect-setupAssessments}">Set Assignments</a>        </li>
            <li class="nav-item">
                <a class="nav-link " data-value="View Student Progress" th:href="@{redirect-lecturerViewProgress}">View Student Progress</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-value="Release Contents" th:href="@{redirect-releaseContent}">Release Contents</a>         </li>
            <li class="nav-item">
                <a class="nav-link " data-value="Contact Students" th:href="@{redirect-contactStudents}">Contact Students</a>       </li>
            <li class="nav-item">
                <a class="nav-link " data-value="Mark Assessments" th:href="@{redirect-markAssessments}">Mark Assessments</a>       </li>
            <li class="nav-item">
                <a class="nav-link " data-value="Enroll Students" th:href="@{redirect-enrollStudents}">Enroll Students</a>       </li>
            <li class="nav-item">
                <a class="nav-link" data-value="about" th:href="@{invalidate}">Logout</a>
            </li>
        </ul>
        </div>
    </nav>

    <header class="header">
        <div class="overlay"></div>
        <section class="sec-1">
            <div class="welcome">
                <h1>Mark Assessments</h1>
            </div>
        </section>

        <script>
            function checkLookupComplete(){
                var ClassCheck = document.getElementById("Class");
                var StudentCheck = document.getElementById("Student");
                var AssessmentCheck = document.getElementById("Assessment");
                if (!((ClassCheck.value === "Select a Class") || (StudentCheck.value === "Select a Student") || (AssessmentCheck.value === "Select Assessment") || (ClassCheck.value === "") || (StudentCheck.value === "") || (AssessmentCheck.value === ""))){
                    document.getElementById("DownloadButton").style.display = "block";
                } else{
                    document.getElementById("DownloadButton").style.display = "none";
                }

                if(!((document.getElementById("Feedback").value === "") || (document.getElementById("Grade").value === "") || (ClassCheck.value === "Select a Class") || (StudentCheck.value === "Select a Student") || (AssessmentCheck.value === "Select Assessment") || (ClassCheck.value === "") || (StudentCheck.value === "") || (AssessmentCheck.value === ""))){
                    document.getElementById("SubmitButton").disabled = false;
                } else{
                    document.getElementById("SubmitButton").disabled = true;
                }


            }

        </script>

        <section class="sec-2">
            <div class="boxwrap">

                <div class = "innerwrap">
                    <div class = "headerwrap">
                        <h2 style="float: left">Student Lookup</h2>
                    </div>
                    <div class="leftsidewrap">


                        <br><br>
                        <label for="Class">Select Class:</label>


                        <select onchange="dynamicDrop();" th:action="@{/getModules}" name="Class" id="Class">
                            <option value="Select a Class">Select a Class</option>
                            <option  id="ClassOption" name="ClassOption" th:each="modules : ${session.moduleList}" th:value="${modules.getId()}" th:text="${modules.getId() + ' - ' + modules.getTitle()}"></option>
                        </select>

                        <br><br>

                        <label for="Student">Student: &nbsp; &nbsp; &nbsp;</label>

                        <select onchange="dynamicAssessmentDrop();" th:action="@{/getStudents}"  name="Student" id="Student">
                            <option value="Select a Student">Select a Student</option>
                        </select>

                        <br><br>

                        <label for="Assessment">Assessment: </label>
                        <select onchange="checkLookupComplete();" name="Assessment" id="Assessment">
                            <option value="Select Assessment">Select Assessment</option>
                        </select>

                        <br><br>

                        <input id="DownloadButton" style="display: none" formmethod="get" formaction="/admin/generate_pdf/online" type="submit" value="Download Document">
                        <script>

                            function dynamicDrop(){

                                var students = [];
                                var x = "[[${studentsInModule}]]";
                                var changed2 = x.split('\=').join('\:');
                                var changed3 = changed2.split('~').join(',');
                                var changed4 = changed3.split('#').join('\"');
                                var changed5 = JSON.parse(changed4);
                                for (var value in changed5) {
                                    if (value === document.getElementById("Class").value) {
                                        for(var value1 in changed5[value]){
                                            students.push(changed5[value][value1]);
                                        }
                                    }
                                }
                                var select = document.getElementById("Student");
                                while (select.firstChild) {
                                    select.removeChild(select.lastChild);
                                }

                                var el1 = document.createElement("option");
                                el1.textContent = 'Select a Student';
                                el1.value = 'Select a Student';

                                select.appendChild(el1);

                                for(var i = 0; i < students.length; i++) {
                                    var opt = students[i];
                                    var el = document.createElement("option");
                                    el.textContent = opt;
                                    el.value = opt;

                                    select.appendChild(el);
                                }
                                checkLookupComplete();

                            }

                        </script>
                        <br><br>

                    </div>

                    <script>
                        function dynamicAssessmentDrop(){

                            var assessment = [];
                            var x = "[[${assessmentsInModule}]]";

                            var changed2 = x.split('\=').join('\:');
                            var changed3 = changed2.split('~').join(',');
                            var changed4 = changed3.split('#').join('\"');
                            var changed5 = JSON.parse(changed4);
                            for (var value in changed5) {
                                if (value === document.getElementById("Class").value) {
                                    for(var value1 in changed5[value]){
                                        assessment.push(changed5[value][value1]);
                                    }
                                }
                            }

                            var select = document.getElementById("Assessment");
                            while (select.firstChild) {
                                select.removeChild(select.lastChild);
                            }

                            var el1 = document.createElement("option");
                            el1.textContent = 'Select Assessment';
                            el1.value = 'Select Assessment';

                            select.appendChild(el1);

                            for(var i = 0; i < assessment.length; i++) {
                                var opt = assessment[i];
                                var el = document.createElement("option");
                                el.textContent = opt;
                                el.value = opt;

                                select.appendChild(el);
                            }
                            checkLookupComplete();

                        }
                    </script>



                    <h2 class="RightHeader">Feedback Area</h2>
                    <div class="FeedbackAreaWrap">
                        <h3 class="FeedbackHeader">Write feedback on the student's work:</h3>
                        <textarea onchange="checkLookupComplete()" class="FeedbackArea" name="Feedback" id="Feedback" placeholder="Write some marking feedback..." ></textarea>
                    </div>
                    <div class="MarkingSection">

                        <div class="GradePos">
                            <label for="Grade">Grade: </label>
                            <input onchange="checkLookupComplete()" type="number" max="100" min="0" id="Grade" name="Grade" ></input>
                        </div>
                        <input id="SubmitButton" formaction="/gradeAssessment" disabled="disabled" class="SubmitMark" type="submit" value="Submit Marking">

                    </div>
                </div>
            </div>

        </section>

    </header>

</form>
</body>
</html>