<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src='windowfit.js'></script>
    <link rel="stylesheet" type="text/css" href="publicstyle.css">
</head>
<body onload="dynamicDrop()">

<nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand" href="#">Public Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
        <li class="nav-item">
            <a class="nav-link" data-value="about" th:href="@{invalidate}">Logout</a>
        </li>
        </ul>
    </div>
</nav>

<header class="header">

    <script>
        function dynamicDrop() {

            var news = [];
            var x = "[[${newsContent}]]";

            var changed2 = x.split('#').join('\"');
            var changed3 = JSON.parse(changed2);
            for (var value in changed3) {
                news.push(value);


            }

            var select = document.getElementById("Article");
            while (select.firstChild) {
                var el = document.createElement("option");
                select.removeChild(select.lastChild);
            }

            el = document.createElement("option");
            el.textContent = 'Select an option';
            el.value = null;
            select.appendChild(el);
            for(var i = 0; i < news.length; i++) {
                var opt = news[i];
                el1 = document.createElement("option");
                el1.textContent = opt;
                el1.value = opt;
                select.appendChild(el1);
            }
        }
    </script>

    <script>
        function fillContent(){

            var x = "[[${newsContent}]]";
            var changed2 = x.split('#').join('\"');
            var changed3 = JSON.parse(changed2);
            for (var value in changed3) {
                if(document.getElementById("Article").value=== value){
                    document.getElementById("Title").innerText= changed3[value]["title"];
                    document.getElementById("Text").innerText= changed3[value]["description"];
                    document.getElementById("Date").innerText= changed3[value]["date"];
                    document.getElementById("Time").innerText= changed3[value]["time"];
                    document.getElementById("Author").innerText= changed3[value]["author"];
                    document.getElementById("Type").innerText= changed3[value]["type"];
                    document.getElementById("ID").innerText= changed3[value]["id"];
                }
            }
        }


    </script>

    <div class="overlay"></div>

    <section class="sec-2">
        <div class="assignments">

            <div class = "news">

                <div class="Title">
                    <h1>Latest News</h1>
                </div>


                <div class="NewsArea">
                    <h1 id="Title"></h1>
                    <p id="Text"></p>

                </div>
                <div class="SelectSection">
                    <h2>Select A News Article</h2>
                    <label for="Article">Article: </label>
                    <select onchange="fillContent()" class="Dropdown" id="Article">
                        <option>Select Article</option>
                    </select>

                    <h2>Article Information</h2><br>
                    <label for="Date">Date:</label>
                    <p id="Date" class="info"></p>
                    <label for="Time">Time:</label>
                    <p id="Time" class="info"></p>
                    <label for="Author">Author:</label>
                    <p id="Author" class="info"></p>
                    <label for="Type">Type:</label>
                    <p id="Type" class="info"></p>
                    <label for="ID">ID:</label>
                    <p id="ID" class="info"></p>


                </div>

            </div>
        </div>
    </section>

</header>
</body>
</html>