<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignment Submission</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='windowfit.js'></script>
    <link rel="stylesheet" type="text/css" href="StudentStyle.css">
    <script>
        function checkUserRole(){
            var userRole = document.getElementById("userAuth").textContent;
            if (userRole !== "Student" ){
                document.getElementById("errorRedirect").submit();
            }
        }
    </script>
</head>

<header id="header">
    <nav class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">EPiC Learning for Students</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent"><ul class="navbar-nav mr-4">
                <li class="nav-item">
                    <a class="nav-link" data-value="View Assessments" th:href="@{redirect-studentViewAssignment}">View Assessments</a>        </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="View Progress " th:href="@{redirect-studentViewProgress}">View Progress</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="View Course Contents" th:href="@{redirect-studentViewContents}">View Course Contents</a>       </li>
                <li class="nav-item">
                    <a class="nav-link " data-value="Submit Assessments" th:href="@{redirect-studentSubmitAssessment}">Submit Assessments</a>       </li>
            </ul>
            </div>
        </div>
    </nav>
</header>
<body id="body" onload="checkUserRole();">
<span th:text="${session.userrole}" id="userAuth" style="display: none;"></span>
<form action="/redirect-errorPage" id="errorRedirect" name="errorRedirect">
    <input type="hidden">
</form>
<form class="container" id="myForm" method="post" action="/assessmentSubmission">
    <main class="main">
        <div class="container">
            <h4 class="container">Assignment Submission</h4><br>
            <div class="container row">
                    <div class="container form-row">
                        <select onchange="dynamicDrop()" th:action="@{/getModules}" class="custom-select col-auto mr-3 mb-2" name="courseSelect" id="courseSelect">
                            <option selected value="defaultCourse">&nbsp;&nbsp;Select Course</option>
                            <option  id="ClassOption" name="ClassOption" th:each="modules : ${session.moduleList}" th:value="${modules.getId()}" th:text="${modules.getId() + ' - ' + modules.getTitle()}"></option>
                        </select>
                        <select onchange="updateDetails()" class="custom-select col-auto mr-3 mb-2" name="assignmentSelect" id="assignmentSelect" disabled>
                            <option selected value="defaultAssignment">&nbsp;&nbsp;Select Assignment</option>
                        </select>
                    </div>
            </div>
            <div class="col-12" id="assignmentSubmission" style="opacity: 0;">
                <hr/>
                <h4 class="d-inline" id="courseTitle"></h4><h4 class="d-inline">:&nbsp;</h4><h4 class="d-inline" id="asmTitle"></h4>
                    <div class="row">
                        <div class="col-sm-5">
                            <br><p style="font-weight: bold;">&nbsp;Assessment submission link:</p>
                            <div class="form-group">
                                <input type="text" class="form-control" id="submitLink" name="submitLink" placeholder="Paste Webpage here...">
                            </div>
                        </div>
                    </div>
                    <br>
                    <button type="button" onclick="submitForm()"  class="btn btn-primary mb-2" id="submitButton">Submit</button>
            </div>
        </div>
    </main>
</form>
</body>

<script>
    function dynamicDrop(){

        var assessment = [];
        var x = "[[${studentAssessments}]]";

        var changed2 = x.split('\=').join('\:');
        var changed3 = changed2.split('~').join(',');
        var changed4 = changed3.split('#').join('\"');
        var changed5 = JSON.parse(changed4);
        var assignmentText;
        for (var value in changed5) {
            if (value === document.getElementById("courseSelect").value) {
                for(var value1 in changed5[value]){
                    for (var value2 in changed5[value][value1]){
                        assessment.push(value2);
                        //add to javascript variables for assignment text here
                        assignmentText=changed5[value][value1][value2]["spec"];
                    }

                }
            }
        }

        var select = document.getElementById("assignmentSelect");
        while (select.firstChild) {
            var el = document.createElement("option");
            select.removeChild(select.lastChild);
        }

        el = document.createElement("option");
        el.textContent = 'Select an option';
        el.value = 'defaultAssignment';
        select.appendChild(el);
        for(var i = 0; i < assessment.length; i++) {
            var opt = assessment[i];
            el1 = document.createElement("option");
            el1.textContent = opt;
            el1.value = opt;
            select.appendChild(el1);
        }


    }

    function updateDetails(){
        var selectedCourse=document.getElementById("courseSelect").value;
        var selectedAssignment=document.getElementById("assignmentSelect").value;
        document.getElementById("courseTitle").innerHTML = selectedCourse;
        document.getElementById("asmTitle").innerHTML = selectedAssignment;
    }


    function submitForm(){

        var x = "[[${studentAssessments}]]";

        var changed2 = x.split('\=').join('\:');
        var changed3 = changed2.split('~').join(',');
        var changed4 = changed3.split('#').join('\"');
        var changed5 = JSON.parse(changed4);
        var selectedCourse=document.getElementById("courseSelect").value;
        var selectedAssignment=document.getElementById("assignmentSelect").value;
        if(changed5[selectedCourse][0][selectedAssignment]["submitted"]===false) {
            //submit form
            document.getElementById("myForm").submit();
        } else{
            //create alert not possible
            alert("Submission failed, already submitted");
        }
    }
</script>

<script>

    const selCourse = document.getElementById('courseSelect');
    const selAssignment = document.getElementById('assignmentSelect');
    const assignmentSubmission = document.getElementById('assignmentSubmission');
    let selCourseCount = 0;
    let selAssignmentCount = 0;


    // Assignment Dropdown Animation
    selCourse.addEventListener("change", function() {
        selCourseCount++;
        if (selCourse.value === 'defaultCourse'){
            if (selAssignmentCount >= 1){
                selAssignmentCount = 0;
                assignmentSubmission.classList.add('slide-down');
                assignmentSubmission.style.opacity = 0;
                setTimeout(function(){ assignmentSubmission.classList.remove('slide-down'); }, 200);
            }
            selAssignment.selectedIndex = 0;
            selAssignment.disabled = true;
            selCourseCount = 0;
        } else {
            if (selCourseCount > 1) {
                selAssignment.selectedIndex = 0;
                if (selAssignmentCount >= 1) {
                    selAssignmentCount = 0;
                    assignmentSubmission.classList.add('slide-down');
                    assignmentSubmission.style.opacity = 0;
                    setTimeout(function(){ assignmentSubmission.classList.remove('slide-down'); }, 200);
                }
                return;
            }
            selAssignment.disabled = false;
        }
    });

    // Assignment Content Visiblity
    selAssignment.addEventListener("change", function() {
        selAssignmentCount++;
        if (selAssignment.value === 'defaultAssignment'){
            assignmentSubmission.classList.add('slide-down');
            assignmentSubmission.style.opacity = 0;
            setTimeout(function(){ assignmentSubmission.classList.remove('slide-down'); }, 200);
            selAssignmentCount = 0;
        } else {

            if (selAssignmentCount > 1) {
                assignmentSubmission.classList.add('content-refresh');
                setTimeout(function(){ assignmentSubmission.classList.remove('content-refresh'); }, 600);
                return;
            }
            assignmentSubmission.classList.add('slide-up');
            assignmentSubmission.style.opacity = 1;
            setTimeout(function(){ assignmentSubmission.classList.remove('slide-up'); }, 200);
        }

    });


</script>

</html>