<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src='windowfit.js'></script>
    <link rel="stylesheet" type="text/css" href="StudentDashStyle.css">
</head>


<body>


<nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand" href="#">Student Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent"><ul class="navbar-nav mr-4">
        <li class="nav-item">
            <a class="nav-link" data-value="View Assessments" th:href="@{redirect-studentViewAssignment}">View Assessments</a>        </li>
        <li class="nav-item">
            <a class="nav-link " data-value="View Progress " th:href="@{redirect-studentViewProgress}">View Progress</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-value="View Course Contents" th:href="@{redirect-studentViewContents}">View Course Contents</a>       </li>
        <li class="nav-item">
            <a class="nav-link " data-value="Submit Assessments" th:href="@{redirect-studentSubmitAssessment}">Submit Assessments</a>       </li>
        <li class="nav-item">
            <a class="nav-link" data-value="about" th:href="@{invalidate}">Logout</a>
        </li>
    </ul>
    </div>
</nav>

<header class="header">

    <div class="overlay"></div>
    <section class="sec-1">
        <div class="dashboard">
            <h1>Welcome Back</h1><h1 th:text="${session.firstName}" ></h1>
        </div>
    </section>

    <div class="dashboardwrap">
        <section class="sec-2">
            <div class="assignments">
                <h1>What can you do?</h1>
                <h6>The EPiC Web Application allows you to keep upto date and </h6>
                <h6>informed on all of your latest studies.</h6><br>
                <h6>The EPiC Web Application allows students to:</h6>
                <ul>
                    <li>View Upcoming Assessments</li>
                    <li>View Progress in Assessments</li>
                    <li>View Course Content</li>
                    <li>Submit work for upcoming Assessments</li>
                </ul>
            </div>
        </section>
        <section class="sec-3">
            <div class="contacts">
                <h1>If you're struggling?</h1>
                <h6>Work can always be challenging and technology isn't always on our</h6>
                <h6>side, but if you have any issues with your account or the functionality</h6>
                <h6>of the web pages please contact the support team who are happy to help!</h6><br>
                <h6>Account Support:</h6>
                <ul>
                    <li>accountsupport@epic.co.uk</li>
                </ul>
                <h6>Assessment Support:</h6>
                <ul>
                    <li>assessmentsupport@epic.co.uk</li>
                </ul>
            </div>
        </section>
        <section class="sec-4">
            <div class="notifications">
                <form action="/getNotifications" method="post" name="notifForm" id="notifForm">
                    <h1>Notifications</h1>
                    <input value="Get Notifications" name="getNotifs" id="getNotifs" type="submit">
                    <ul th:each="notification : ${session.notifications}">
                        <li id="notifid" th:text="${notification.getContent() + ' Time:' + notification.getDate() + ' By:' + notification.getRecipient()}"></li>
                        <a th:value="${notification.getId()}" th:href="@{/dismissNotification(id=${notification.getId()})}">Dismiss</a>
                        <br>
                    </ul>
                </form>
            </div>
        </section>
    </div>







</header>


</body>
</html>