<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error Page</title>
    <link rel="stylesheet" type="text/css" href="SuccessStyle.css">
</head>

<body>

    <div class="OuterWrap">
        <img class="TickImage" src="Success.jpg" alt="Success!">
        <h1 class="Success">Success!</h1>
        <div class="MessageWrap">
            <h3>(Example) Success, Student Oscar Wilson has been enrolled in course: CSC2033 - Team Project</h3>
        </div>
    </div>


</body>
</html>