<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Success!</title>
    <link rel="stylesheet" type="text/css" href="SuccessStyle.css">
</head>

<body>

    <div class="OuterWrap">
        <img class="TickImage" src="Success.jpg" alt="Success!">
        <h1 class="Success">Success!</h1>
        <div class="MessageWrap">
            <h3 th:text="${session.success}"></h3>
        </div>
        <button class="BackButton">Return</button>
    </div>


</body>
</html>